*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* html body{
    height: 100%;
} */

body{
    font-family: Arial, Helvetica, sans-serif;
    /* min-width: 800px; */
    background: linear-gradient(550deg, #5f1212,rgb(51, 56, 125),rgb(58, 52, 81));
    background-size: 300%;
    animation: 3s gradient infinite;
}

a{
    text-decoration: none;
}

.btnRed {
    color: #fff;
    background-color: rgba(103, 206, 177, 0.502);
    padding: 10px;
    border-radius: 10px
}
.header_hat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 38px;
    background-color: #13145d;
}
.text_hat{
    display: flex;
    flex-direction: column;
}

.container{
    
    width: 100%;
    margin: 0 auto;
    padding: 0px 15px;
}

       


/* header */


  #header .header__content {
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 800px;
    align-items: center;
  }
  #header .header__content__text {
    display: grid;
    grid-gap: 20px;
  }

  .dark_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5019607843);
  }


/*? nav */
.navbar{
    background: linear-gradient(550deg, #5f1212,rgb(51, 56, 125),rgb(58, 52, 81));
    background-size: 300%;
    animation: 3s gradient infinite;
}


/* #nav{
    padding: 10px ;
    background: linear-gradient(550deg, #230404,rgb(20, 24, 78),rgb(55, 56, 100));
    background-size: 300%;
    animation: 3s gradient infinite;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}
#nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    font-size: 20px;
    list-style: none;
    

}
ul li a{
    color: white;
    text-transform: uppercase;
    transition: .3s;
    display: flex;
    justify-content: space-evenly;

}
ul li ::after{
    background: #16a085;
    width: 0;
    height: 3px;
    position: absolute;
    transition: 0.5;
    bottom: -10px;

}
.nav ul li :hover ::after{
    width: 100%;
}



#lol{
    background: linear-gradient(650deg, #221414,rgb(17, 37, 82),rgb(35, 19, 19));
    background-size: 300%;
    animation: 3s gradient infinite;  
} */


#section3 {
    height: 90vh;
    background: linear-gradient(650deg, #221414,rgb(17, 37, 82),rgb(35, 19, 19));
    background-size: 300%;
    animation: 3s gradient infinite;
}
.section3_content {
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 600px;
    flex-direction: column-reverse;
    justify-content: space-between;
    
}
.icon_box {
   
    height: 30vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* display: inline; */
}

.icon_box p{
    color: #fff;
    margin-top: 10px;
}



/* map */

#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
  }

/*? footer */

/* footer {
    background: linear-gradient(550deg, #230404,rgb(20, 24, 78),rgb(55, 56, 100));
    background-size: 300%;
    animation: 3s gradient infinite;
    color: #fff;
} */
.footer__some {
   padding: 40px 0;
   text-align: center;
}
.footer__cah {
   text-align: center;
   display: flex;
   justify-content: space-between;
   padding: 30px 0;
}

.footer__cah h3{
    padding-bottom: 10px;
}
.bg-primary{
    background: linear-gradient(550deg, #5f1212,rgb(51, 56, 125),rgb(58, 52, 81));
    background-size: 300%;
    animation: 3s gradient infinite;
}
.navbar-toggler{
    background: linear-gradient(550deg, #5f1212,rgb(51, 56, 125),rgb(58, 52, 81));
    background-size: 300%;
    animation: 3s gradient infinite;
}

.offcanvas{
    background: linear-gradient(550deg, #5f1212,rgb(51, 56, 125),rgb(58, 52, 81));
    background-size: 300%;
    animation: 3s gradient infinite;
}

.card{
    background: linear-gradient(550deg, #774a4a,rgb(65, 73, 193),rgb(29, 24, 48));
    background-size: 300%;
    animation: 3s gradient infinite;
}


@keyframes gradient {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 100%;
    }
}


@media screen and (min-width: 600px) {
    .header_hat {
      width: 30%;
      float: right;
    }
  }
    @media screen and (max-width: 600px) {
        #headeer {
        clear: both;
        font-size: 1.3em;
        }
    }




